<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstoragetest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AndroidStorageTest">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ImageTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ExternalDBTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            - 기본 설명 :
            FileProvider은 보안을 지키면서 콘텐츠를 읽고 쓸 수 있는 액세스 권한을 부여하는 역할을 합니다.
            콘텐츠 URI를 포함한 Intent 생성시 Intent.setFlags로 권한을 추가할 수도 있습니다.

            이러한 권한을 수식한 상황에서  Activity가 활성 상태 또는 Service가 실행 되는 동안 권한을 사용할 수 있습니다.

            - 사용법 :
            권한 문자열에서 두번째 인수는 getUriForFile에 일치시켜야 합니다.
            제공자 정의의 meta-data 섹션에서 제공자가 정용 리소스 파일(res/xml/file_paths.xml)에 적합한 경로가 구성된다고 예상하는 것을 확인할 수 있습니다.
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.androidstoragetest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>